/* #C9E3F3
#79B3D5
#547CA8
#1C385C */
.title {
  text-align: center;
  color: #ffffff;
  width: 400px;
  margin: auto;
  text-shadow: 2px, 2px, 2px rgb(0, 0, 0, 0.1);
}

.contentButton {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contentHospitalsContainer {
  background-color: #547ca8;
  margin-top: 50px;
  padding: 10px 0;
}
.popupButton {
  padding: 10px 20px;

  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

  width: 200px;
  margin: auto;
  color: rgb(0, 0, 46);
  font-size: 1rem;
}

.contentSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select {
  padding: 10px 0;
  width: 150px;
}
.prueba {
  display: flex;
}
.contentCard {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 100px;
  border-bottom: 1px solid #33009d;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 100px;
  gap: 20px 0;
}

.contentCard p {
  width: 400px;
  font-size: 1.2rem;
  text-align: center;
  color: revert;
  letter-spacing: 2px;
}

.selectContainer {
  display: flex;
  margin: auto;
  /* border: 1px solid black; */
  height: 170px;
  flex-direction: column;
  justify-content: center;
  gap: 20px 0;
}

.firstStep {
  text-align: center;
  color: blue;
  font-weight: bold;
}

/* content send emial */
.contentSendEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;

  color: #1c385c;
  text-shadow: 2px, 2px, 2px rgb(0, 0, 0, 0.1);
}

.sendEmail {
  padding: 10px 20px;

  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

  width: 200px;
  margin: auto;
  color: rgb(0, 0, 46);
  transition: 0.3s ease;
  font-size: 1rem;
  margin-top: 10px;
}
.sendEmail:hover {
  background-color: rgb(0, 0, 46);
  color: #fff;
}
